.noteslist {
  padding: 1rem;
  /* width: 270px; */
  gap: 1rem;
  background-color: var(--color-background-two);
  grid-row-start: 3;
  grid-row-end: 4;
}

.noteslist h3 {
  padding: 0.6rem 0;
}

.noteslist div {
  margin: 0.5rem 0;
  display: flex;
  align-items: center;
}
/* 
.noteslist div button {
  border: none;
  background: transparent;
}

.noteslist div button img {
  margin-left: 0.5rem;
  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;
  transition: transform 0.5s;
}

.noteslist div button img:hover {
  transform: rotate(90deg);
}

.noteslist div input {
  padding: 0.7rem;
} */

div .arrowIcon {
  display: flex;
  justify-content: end;
  margin: 0;
}

.buttonArray {
  border: none;
  background-color: transparent;
}

.buttonArray img {
  width: 1.5rem;
  height: 1.5rem;
  transition: transform 0.3s;
}

.buttonArray img:hover {
  transform: scale(1.3);
}

.hideBar {
  width: 40px;
  background-color: var(--color-background-two);
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

.hideBar p {
  margin: 0.5rem;
  font-weight: 700;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
}

.hideBar .buttonArray {
  margin: 13px 0.5rem;
  rotate: 180deg;
}
