.notebooks {
  padding: 1rem;
  /* width: 270px; */
  gap: 1rem;
  background-color: var(--color-background);
  grid-row-start: 3;
  grid-row-end: 4;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.notebooks h3 {
  padding: 0.6rem 0;
}

.archive button {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  font-size: 1.1rem;
}

.archive img {
  margin: 0.6rem;
  width: 1.5rem;
  height: 1.5rem;
  transition: transform 0.3s;
}

.archive img:hover {
  transform: scale(1.3);
}
